@import "tailwindcss";
@import "tw-animate-css";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(0.9238 0.0093 232.3718);
    --foreground: oklch(0.1438 0.0128 226.4843);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.1438 0.0128 226.4843);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.1438 0.0128 226.4843);
    --primary: oklch(0.6959 0.1491 162.4796);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.7516 0.0186 229.0945);
    --secondary-foreground: oklch(0.1438 0.0128 226.4843);
    --muted: oklch(0.8865 0.0103 228.9040);
    --muted-foreground: oklch(0.5740 0.0265 240.4061);
    --accent: oklch(0.7729 0.1535 163.2231);
    --accent-foreground: oklch(0.1438 0.0128 226.4843);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.8502 0.0155 228.9980);
    --input: oklch(0.8865 0.0103 228.9040);
    --ring: oklch(0.6959 0.1491 162.4796);
    --chart-1: oklch(0.5960 0.1274 163.2254);
    --chart-2: oklch(0.7686 0.1647 70.0804);
    --chart-3: oklch(0.6959 0.1491 162.4796);
    --chart-4: oklch(0.6368 0.2078 25.3313);
    --chart-5: oklch(0.6231 0.1880 259.8145);
    --sidebar: oklch(0.1809 0.0183 238.2926);
    --sidebar-foreground: oklch(0.9238 0.0093 232.3718);
    --sidebar-primary: oklch(0.7148 0.1257 215.2209);
    --sidebar-primary-foreground: oklch(0.1438 0.0128 226.4843);
    --sidebar-accent: oklch(0.7729 0.1535 163.2231);
    --sidebar-accent-foreground: oklch(0.1438 0.0128 226.4843);
    --sidebar-border: oklch(0.2781 0.0296 256.8480);
    --sidebar-ring: oklch(0.7148 0.1257 215.2209);
    --font-sans: 'Space Mono', monospace;
    --font-serif: 'Roboto Slab', serif;
    --font-mono: 'Space Mono', monospace;
    --radius: 0.25rem;
    --shadow-x: 0rem;
    --shadow-y: 0.125rem;
    --shadow-blur: 0.5rem;
    --shadow-spread: 0rem;
    --shadow-opacity: 0.05;
    --shadow-color: #000000;
    --shadow-2xs: 0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.03);
    --shadow-xs: 0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.03);
    --shadow-sm: 0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.05), 0rem 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow: 0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.05), 0rem 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow-md: 0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.05), 0rem 2px 4px -1px hsl(0 0% 0% / 0.05);
    --shadow-lg: 0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.05), 0rem 4px 6px -1px hsl(0 0% 0% / 0.05);
    --shadow-xl: 0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.05), 0rem 8px 10px -1px hsl(0 0% 0% / 0.05);
    --shadow-2xl: 0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.13);
    --tracking-normal: 0.01em;
    --spacing: 0.25rem;
}

.dark {
    --background: oklch(0.1809 0.0183 238.2926);
    --foreground: oklch(0.8873 0.1821 166.8888);
    --card: oklch(0.2083 0.0232 246.3452);
    --card-foreground: oklch(0.8873 0.1821 166.8888);
    --popover: oklch(0.2083 0.0232 246.3452);
    --popover-foreground: oklch(0.8873 0.1821 166.8888);
    --primary: oklch(0.8873 0.1821 166.8888);
    --primary-foreground: oklch(0.1809 0.0183 238.2926);
    --secondary: oklch(0.3567 0.0313 246.9372);
    --secondary-foreground: oklch(0.8873 0.1821 166.8888);
    --muted: oklch(0.2583 0.0230 243.4837);
    --muted-foreground: oklch(0.6731 0.1624 144.2083);
    --accent: oklch(0.6392 0.1196 175.9297);
    --accent-foreground: oklch(0.1809 0.0183 238.2926);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.3567 0.0313 246.9372);
    --input: oklch(0.2583 0.0230 243.4837);
    --ring: oklch(0.8873 0.1821 166.8888);
    --chart-1: oklch(0.8873 0.1821 166.8888);
    --chart-2: oklch(0.8790 0.1534 91.6054);
    --chart-3: oklch(0.7729 0.1535 163.2231);
    --chart-4: oklch(0.7106 0.1661 22.2162);
    --chart-5: oklch(0.7137 0.1434 254.6240);
    --sidebar: oklch(0.1282 0.0184 234.0646);
    --sidebar-foreground: oklch(0.8873 0.1821 166.8888);
    --sidebar-primary: oklch(0.8873 0.1821 166.8888);
    --sidebar-primary-foreground: oklch(0.1282 0.0184 234.0646);
    --sidebar-accent: oklch(0.6392 0.1196 175.9297);
    --sidebar-accent-foreground: oklch(0.1282 0.0184 234.0646);
    --sidebar-border: oklch(0.1964 0.0136 243.6612);
    --sidebar-ring: oklch(0.8873 0.1821 166.8888);
    --font-sans: 'Space Mono', monospace;
    --font-serif: 'Roboto Slab', serif;
    --font-mono: 'Space Mono', monospace;
    --radius: 0.25rem;
    --shadow-x: 0rem;
    --shadow-y: 0rem;
    --shadow-blur: 0.8rem;
    --shadow-spread: 0rem;
    --shadow-opacity: 0.2;
    --shadow-color: #00FFC0;
    --shadow-2xs: 0rem 0rem 0.8rem 0rem hsl(165.1765 100% 50% / 0.10);
    --shadow-xs: 0rem 0rem 0.8rem 0rem hsl(165.1765 100% 50% / 0.10);
    --shadow-sm: 0rem 0rem 0.8rem 0rem hsl(165.1765 100% 50% / 0.20), 0rem 1px 2px -1px hsl(165.1765 100% 50% / 0.20);
    --shadow: 0rem 0rem 0.8rem 0rem hsl(165.1765 100% 50% / 0.20), 0rem 1px 2px -1px hsl(165.1765 100% 50% / 0.20);
    --shadow-md: 0rem 0rem 0.8rem 0rem hsl(165.1765 100% 50% / 0.20), 0rem 2px 4px -1px hsl(165.1765 100% 50% / 0.20);
    --shadow-lg: 0rem 0rem 0.8rem 0rem hsl(165.1765 100% 50% / 0.20), 0rem 4px 6px -1px hsl(165.1765 100% 50% / 0.20);
    --shadow-xl: 0rem 0rem 0.8rem 0rem hsl(165.1765 100% 50% / 0.20), 0rem 8px 10px -1px hsl(165.1765 100% 50% / 0.20);
    --shadow-2xl: 0rem 0rem 0.8rem 0rem hsl(165.1765 100% 50% / 0.50);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);

    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
    letter-spacing: var(--tracking-normal);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--sidebar-border) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--sidebar-border);
    border-radius: 20px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: var(--sidebar-accent);
}
